body {
    font-family: 'poppins light';
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    color: white;
}

.contenedor {
    margin: 45px auto;
    display: flex;
}

.estadisticas {
    padding: 0 0 0 5px;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

.juego {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
    margin: 0 auto;
}